body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top;
    background-size:cover;
}

header{
    background-color: lavender;
    text-shadow: 2px 2px 2px gray;
    font-family: Arial, "Times New Roman", sans-serif;
    font-size: 30px;
    padding-top:20px;
    padding-bottom:20px;
    font-weight: bold;
    margin-bottom:5px;
    text-align: center;
    width:100%;
}

nav {
    background-color: lavender;
    text-align: center;
    display:flex;
    flex-direction:column;
    width: 15%;
    margin-right:5px;
    height: auto;
}

nav a {
    padding-top: 5px; 
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, "Times New Roman", sans-serif;
    color:black;
}

nav a:hover {
    background-color: lightyellow;
    text-decoration: underline;
    font-weight:bold;
}

nav a:active{
    color:green;
    text-decoration: underline;
}


#active-link{
    background-color: lightgreen;
}

#navtitle{
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, "Times New Roman", sans-serif;
    text-align: center;
}

main {
    background-color: white;
    font-family: Arial, "Times New Roman", sans-serif;
    width: 85%;
}

footer{
    background-color: lavender;
    font-family: Arial, "Times New Roman", sans-serif;
    margin-top: 5px;
    text-align: center;
    padding-top:10px;
    width:100%;
    font-size:15px;
    font-weight:bold;
}


#content-wrapper{
    display: flex;
    flex-direction: row;
}

table {
    border-style: solid;
    border:2px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th{
    padding: 5px;
    border: 1px;
    border-color: lavender;
    border-style: solid;
    text-align: center;
}

#wrapper { 
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
}

#message{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

input,select {
    margin-bottom: 10px;

}

form{
    text-align:center;
}

.imgcontainer {
    position: relative;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.imgoverlay {
    display: block;
    width: 100%;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
}

.imgcontainer:hover .overlay {
    opacity: 1;
}

.animate{
    animation-name:filter;
    animation-duration:15s;
    animation-iteration-count: infinite;
}

@keyframes filter {
    25% {filter:grayscale(25);}
    50% {filter:grayscale(50);}
    75% {filter:grayscale(75);}
    100% {filter:grayscale(100);}
}


.transition{
    width:50%;    
    transition: width 10s;
    margin-left:auto;
    margin-right:auto;
    display:block;
}


.transition:hover {
    width: 100%;
}


@media screen and (max-width: 700px) {

    header{margin-bottom:0px;}

    #content-wrapper{
        display: flex;
        flex-direction: column;
    }

    nav{
        display:flex;
        flex-direction:row;
        justify-content: center;
        width:100%;
        margin-right:0px; 
        border-top:2px solid black;
        border-bottom:2px solid black;
    }

    nav a {
        padding-left:15px;
        padding-right:15px;
    }

    #navtitle{display: none;}

    main{width:100%;}

    footer{margin-top:0px;}

    td, th{padding: 5px;}

    .overlay {
        font-size: 10px;
        padding-top:10px;
        padding-bottom:10px;
    }

}

