header, nav, main, footer { 
    display: block; 
}

body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
}

header{
    background-color: lightblue;
    text-shadow: 2px 2px 2px gray;
    font-family: Arial, "Times New Roman", sans-serif;
    font-size: 30px;
    padding-top:20px;
    padding-bottom:20px;
    font-weight: bold;
    margin-bottom:5px;
    width: auto;
    text-align: center;
}

aside {
    height: auto;
    width: 15%;
    background-color: cyan;
    text-align: center;
    margin-right:5px;
}

aside a {
    padding-top: 5px; 
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, "Times New Roman", sans-serif;
    color: black;
}

.active-link{
    background-color: lightyellow;
}

aside a:hover {
    background-color: lightblue;
    text-decoration: underline;
}

.links{
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: underline;
    font-size: 20px;
    color: black;
    display: block;
    font-weight: bold;
    font-family: Arial, "Times New Roman", sans-serif;
    text-align: center;
}

main {
    background-color: white;
    font-family: Arial, "Times New Roman", sans-serif;
    width: 85%;
}

footer{
    background-color: lightblue;
    font-family: Arial, "Times New Roman", sans-serif;
    margin-top: 5px;
    width: auto;
    text-align: center;
    padding-top:10px;
}

.flexVertical{
    display:flex;
    flex-direction:column;
}

.flexHorizontal{
    display: flex;
    flex-direction: row;
}

table {
    border-style: solid;
    border:2px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
}

td, th{
    padding: 10px;
    border: 1px;
    border-color: cyan;
    border-style: solid;
    text-align: center;
}

#wrapper { 
    margin-right: auto;
    margin-left: auto;
    min-width: 700px;
    max-width: 1024px;
}

#date{
    padding-left: 5px;
    padding-top: 10px;
}


#message{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom:10px;
}

input,select {
    margin-bottom: 10px;

}

form{
    text-align:center;
    margin-bottom: 10px;
}




